body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: none;
    }

.select_minute { 
    text-align : center ; 
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#message{
    text-align : center ; 
    padding-top: 5vh;
    padding-bottom: 5vh;
}

input {
    max-width: 80%;  /* 横幅に合わせて自動縮小するが、拡大はしない */
    margin: 0 auto;
 }

  #contents {
    width: 90%;
    /* min-width: 640px; */
    margin: 0 auto;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    box-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-box-pack: justify; 
}
.elements {
    width: 20vw;
    height: auto;
    display: block;
}
