body{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: none;
    }

.select_minute { 
    text-align : center ; 
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.select_strength{
    text-align : center ; 
    /* width:80vw; */
    /* zoom: 1.5; */
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#message{
    font-size: 250%;
    font: YuGothic;
    font-weight: bold;
    text-align : center ; 
    padding-top: 5vh;
    padding-bottom: 0vh;
}

input {
    max-width: 80%;  /* 横幅に合わせて自動縮小するが、拡大はしない */
    margin: 0 auto;
 }

  #contents {
    width: 90%;
    /* min-width: 640px; */
    margin: 0 auto;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    box-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-box-pack: justify; 
}
.elements {
    width: 20vw;
    height: auto;
    display: block;
}

#video-background,
#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
 
#video-background {
  z-index: -2;
}
 
#video-overlay {
  z-index: -1;
}